<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label style="color: black;">Municipio</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Municipio"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
             <button style="background-color: transparent;"matSuffix mat-button><mat-icon >search</mat-icon></button>
             
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let municpio of filteredMunicipios | async" [value]="municpio.nombre">
          {{municpio.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
  </form>


<style>
.example-form {
  width: 100%;
  padding: 1%;
  flex-direction: column;
}

.example-full-width {
  width: 70%;
}

</style>
  